
.navTitle {
    color: rgba(0,0,0,.9)
}

.navTitle {
    padding-top: 0.3125rem ;
    padding-bottom: 0.3125rem ;
    margin-right: 1rem ;
    font-size: 1.25rem ;
    text-decoration: none ;
    white-space: nowrap ;
}

.navLink {
    color: rgba(0,0,0,.55);
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.mainh1 {
    text-align: center;
    margin-top: 60px !important;
    margin-bottom: 30px !important;
}

.cardWelcome {
    margin-bottom: 30px !important;
}